body {
    font: "Maven Pro", "Noto Sans KR";
    color: #191919;
    }

a,a:link {
    text-decoration: none;
    color: inherit;
    }

ul,ol {
    padding: 0;
    }

.container-fluid {
    padding: 0;
    }

.h-600 {
    height: 600px;
    }

#gnb {
    display: flex;
    }

.bx-wrapper {
    border: 0;
    }
    
        .silder-wrap {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: -1;
        }

        h4 {
            font-size: 2rem;
        }

        h4 i {
            margin-right: 10px;
        }