body {
    font: "Maven Pro", "Noto Sans KR";
    color: #191919;
}

a,a:link {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.h-600 {
    height: 600px;
}

#gnb {
    display: flex;
}

.bx-wrapper {
    border: 0;
}
    
/* .silder-wrap {
    position: absolute;
    width: 100%;
    top: 0;
} */

#carouselExampleIndicators {
    position: absolute;
    width: 100%;
    top: 0;
}

h4 {
    font-size: 2rem;
}

h4 i {
    margin-right: 10px;
}

#reviewer {
    width: 40px;
    height: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .h-600 {
        height: 400px;
    }
}